<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.core.supplier.mapper.TBusinessCertificateMapper" >

    <resultMap id="BaseResultMap" type="com.bupt.core.supplier.model.TBusinessCertificate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="audit_result" property="auditResult" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, number, create_time, end_time, status, supplier_id, audit_result, url
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bupt.core.supplier.model.TBusinessCertificateExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_business_certificate
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_business_certificate
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_business_certificate
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bupt.core.supplier.model.TBusinessCertificateExample" >
        delete from t_business_certificate
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bupt.core.supplier.model.TBusinessCertificate" >
        insert into t_business_certificate (id, number, create_time, 
            end_time, status, supplier_id, 
            audit_result, url)
        values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
            #{endTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, 
            #{auditResult,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bupt.core.supplier.model.TBusinessCertificate" >
        insert into t_business_certificate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="number != null" >
                number,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="endTime != null" >
                end_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="supplierId != null" >
                supplier_id,
            </if>
            <if test="auditResult != null" >
                audit_result,
            </if>
            <if test="url != null" >
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="number != null" >
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null" >
                #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="auditResult != null" >
                #{auditResult,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bupt.core.supplier.model.TBusinessCertificateExample" resultType="java.lang.Integer" >
        select count(*) from t_business_certificate
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update t_business_certificate
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.number != null" >
                number = #{record.number,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=VARCHAR},
            </if>
            <if test="record.endTime != null" >
                end_time = #{record.endTime,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.supplierId != null" >
                supplier_id = #{record.supplierId,jdbcType=INTEGER},
            </if>
            <if test="record.auditResult != null" >
                audit_result = #{record.auditResult,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
                url = #{record.url,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update t_business_certificate
        set id = #{record.id,jdbcType=INTEGER},
            number = #{record.number,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=VARCHAR},
            end_time = #{record.endTime,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=VARCHAR},
            supplier_id = #{record.supplierId,jdbcType=INTEGER},
            audit_result = #{record.auditResult,jdbcType=VARCHAR},
            url = #{record.url,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bupt.core.supplier.model.TBusinessCertificate" >
        update t_business_certificate
        <set >
            <if test="number != null" >
                number = #{number,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null" >
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="auditResult != null" >
                audit_result = #{auditResult,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bupt.core.supplier.model.TBusinessCertificate" >
        update t_business_certificate
        set number = #{number,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=VARCHAR},
            end_time = #{endTime,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            supplier_id = #{supplierId,jdbcType=INTEGER},
            audit_result = #{auditResult,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>